.ItemLink-container {
  display: flex;
  align-items: center;
  .ItemLink-item {
    margin: 0 20px;
    line-height: 62px;
    width: 70px;
    .ItemLink-link {
      display: block;
      border-radius: 50rem;
      opacity: 0.8;
      color: #000;
    }
    .ItemLink-link:hover {
      cursor: pointer;
      opacity: 1;
      background-color: rgb(193, 212, 246);
      color: rgb(47, 66, 207);
    }
  }
}
