.Work-container {
  margin: 50px 0;
  .Work-header {
  }
  .Work-navbar {
    background-color: rgb(98, 102, 234);
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;
    .Work-navlink {
      margin: 0 1rem;
      list-style: none;
      color: rgb(246, 249, 254);
      font-weight: 300;
      padding: 0.5rem 3rem;
      border-radius: 50rem;
    }
    .Work-navlink.active {
      background-color: #000;
    }
    .Work-navlink:hover {
      background-color: #000;
      cursor: pointer;
    }
  }
  .Work-body {
    padding: 3rem 1rem;
    margin: 0 74px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .Work-item {
      display: flex;
      width: 300px;
      height: 300px;
      padding: 1rem;
      flex-direction: column;
      justify-content: flex-end;
      background-image: url("https://cdn.pixabay.com/photo/2013/07/25/01/31/forest-166733__340.jpg");
      text-align: left;
      border-radius: 2rem;
      margin: 0 1rem 1rem;
      background-position: 100% 100%;
      opacity: 1;
      color: #fff;
      &:hover {
        background-position: 0 0;
        transition: 0.5s;
        opacity: 0.8;
        cursor: pointer;
        color: #93ee14;
        .Work-title {
          border: 1px solid #93ee14;
          color: #93ee14;
        }
      }
      .Work-title {
        color: #fff;
        width: 200px;
        border-radius: 25px;
        text-align: center;
        border: 1px solid #f6f9fe;
      }
    }
  }
}
