$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;
$starbuck: #20c580;
$starbuckPink: #eb7495;
$starbuckPink2: #581344;
$btnBlue: #1e9bff;
$btnRed: #ff1867;
$btnGreen: #6cff3e;
$tim: #bd00ff;

%boxshadow {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
